@model FootballManager.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.FundationDate)*@
            Fundation Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundationDate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Country.Name)*@
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <td>
                <h4>Championships</h4>
            </td>
            <td>
                Points
            </td>
        </tr>
        @foreach (var item in Model.TeamPoints)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Championship.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
            </tr>
        }
    </table>
    <br />
    <table class="table">
        <tr>
            <td>
                <h4>Players</h4>
            </td>
            <td align="right">
                @Html.ActionLink("Add Player", "Create", "Players/Create")
            </td>
        </tr>
        @foreach (var item in Model.Player)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="right">
                    @Html.ActionLink("Details", "Players/Details", , new { id = item.ID })
                    @*@Html.ActionLink("Delete", "Delete", "Reviews", new { id = item.ID }, null)*@
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
