@model FootballManager.Models.Championship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Championship</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoudationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoudationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityManager.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityManager.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
