<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>@ViewBag.Title - Football Manager by PSW</title>
    <meta name="keywords" content="football,manager,soccer,team,championship,journey,match,season,country,matchGoal" />
    <meta name="description" content="Football Manager">
    <meta name="author" content="Grupo 2">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Theme CSS -->
    <link href="@Styles.Url("~/Content/Theme/css/style.css")" rel="stylesheet" media="screen" />
    <!-- Responsive CSS -->
    <link href="@Styles.Url("~/Content/Theme/css/theme-responsive.css")" rel="stylesheet" media="screen">
    <!-- Skins Theme -->
    <link href="@Styles.Url("~/Content/Theme/css/green.css")" rel="stylesheet" media="screen" class="skin">

    <!-- Favicons -->
    <link rel="shortcut icon" href="@Url.Content("~/favicon.png")">
    <link rel="apple-touch-icon" href="@Url.Content("~/favicon.png")">

    <!-- Plugins Styles -->
    @Styles.Render("~/Content/datepicker.css")
    @Styles.Render("~/Content/select2.css")
    @Styles.Render("~/Content/select2-bootstrap.css")

    <!-- Head Libs -->
    @Scripts.Render("~/bundles/modernizr")

    <!--[if IE]>
        <link rel="stylesheet" href="css/ie/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
        <script src="js/responsive/html5shiv.js"></script>
        <script src="js/responsive/respond.js"></script>
    <![endif]-->
    <!-- Skins Changer-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    

</head>
<body>
    <!-- layout-->
    <div id="layout" class="layout-boxed">
        <!-- Header-->
        <header>
            <!-- headerbox-->
            <div class="headerbox">
                <div class="container">
                    <div class="row">
                        <!-- Logo-->
                        <div class="col-md-3 logo">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="@Url.Content("~/Content/Theme/img/FM_LOGO.png")" />
                            </a>
                        </div>
                        <!-- End Logo-->
                    </div>
                </div>
            </div>
            <!-- End headerbox-->
            <!-- mainmenu-->
            <nav class="mainmenu">
                <div class="container">
                    <!-- Menu-->
                    <ul class="sf-menu" id="menu">
                        <li class="selected">
                        @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="current">
                            <a href="#">Teams</a>
                            <ul class="sub-current">
                                <li>
                                   @Html.ActionLink("View Teams", "Index", "Teams")
                                </li>
                                <li>
                                   @Html.ActionLink("Create Teams", "Create", "Teams")
                                </li>
                            </ul>

                        </li>
                        <li class="current">
                            <a href="#">Championships</a>
                            <ul class="sub-current">
                                <li>
                                    @Html.ActionLink("View Championships", "Index", "Championships")
                                </li>
                                <li>
                                    @Html.ActionLink("Create Championships", "Create", "Championships")
                                </li>
                            </ul>

                        </li>

                        <li class="current">
                            <a href="#">Journeys</a>
                            <ul class="sub-current">
                                <li>
                                    @Html.ActionLink("View Journeys", "Index", "Journeys")
                                </li>
                            </ul>
                        </li>

                        <li class="current">
                            <a href="#">Matches</a>
                            <ul class="sub-current">
                                <li>
                                    @Html.ActionLink("View Matches", "Index", "Matches")
                                </li>
                            </ul>
                        </li>

                        <li class="current">
                            <a href="#">Match Goals</a>
                            <ul class="sub-current">
                                <li>
                                    @Html.ActionLink("View Match Goals", "Index", "MatchGoals")
                                </li>
                            </ul>
                        </li>
                        <li class="current nav navbar-nav navbar-right">
                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated)
                            {
                                <a href="#">Hello @User.Identity.GetUserName()</a>
                                <ul class="sub-current">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li>@Html.ActionLink("Countries", "Index", "Countries")</li>
                                        <li>@Html.ActionLink("Entity Managers", "Index", "EntityManagers")</li>
                                    }
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <li>
                                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <a href="#">User</a>
                                <ul class="sub-current">
                                    <li>
                                        @Html.ActionLink("Login", "Login", "Account")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Register", "Register", "Account")
                                    </li>
                                </ul>
                            }

                        </li>
                       </ul>
                    <!-- End Menu-->
                </div>
            </nav>
            <!-- End mainmenu-->
        </header>
        <!-- End Header-->
        @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("FManager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Championships", "Index", "Championships")</li>
                            <li>@Html.ActionLink("Seasons", "Index", "Seasons")</li>
                            <li>@Html.ActionLink("Matches", "Index", "Matches")</li>
                            <li>@Html.ActionLink("Teams", "Index", "Teams")</li>
                            <li>@Html.ActionLink("Players", "Index", "Players")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>*@
        <!-- Section Title -->
        <section class="section-title img-about">
            <div class="overlay-bg"></div>
            <div class="container">
                <h1>@ViewContext.RouteData.Values["controller"] </h1>
            </div>
        </section>
        <!-- End Section Title -->
        <!-- Section Area - Content Central -->
        <section class="content-info">

            <div class="crumbs">
                <div class="container">
                    <ul>
                        <li>@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(),"Index")</li>
                        <li>/</li>
                        <li>@ViewContext.RouteData.Values["action"]</li>
                    </ul>
                </div>
            </div>

            <div class="semiboxshadow text-center">
                <img src="@Url.Content("~/Content/Theme/img/img-theme/shp.png")" class="img-responsive" alt="">
            </div>

            <!-- Content Central -->
            <div class="container padding-top">
                <div class="row">
                    <!-- content Column Left -->
                    <div class="col-md-12">

                        <div class="row">
                            <!-- blog post-->
                            @RenderBody()
                        </div>

                        <!-- End Experts -->
                    </div>
                    <!-- End content Left -->



                </div>
            </div>
            <!-- End Content Central -->

        </section>
        <!-- End Section Area - Content Central -->
        <!-- footer-->
        <footer id="footer">
            <div class="container">

            </div>
        </footer>
        <!-- End footer-->
        <!-- footer Down-->
        <div class="footer-down">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p>&copy; 2014 Football Manager . All Rights Reserved.  2014</p>
                    </div>
                    <div class="col-md-7">
                        <!-- Nav Footer-->
                        <ul class="nav-footer">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Teams", "Index", "Teams")</li> 
                            <li>@Html.ActionLink("Championships", "Index", "Championships")</li>
                            <li>@Html.ActionLink("Journeys", "Index", "Journeys")</li>
                            <li>@Html.ActionLink("Matches", "Index", "Matches")</li>
                            <li>@Html.ActionLink("Match Goals", "Index", "MatchGoals")</li>
                                         
                        </ul>
                        <!-- End Nav Footer-->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer Down-->

    </div>
    <!-- End layout-->
    <!-- ======================= JQuery libs =========================== -->
    <!-- jQuery local-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/Theme/js/jquery.js")
    <!--Nav-->
    @Scripts.Render("~/Content/Theme/js/tinynav.js")
    @Scripts.Render("~/Content/Theme/js/hoverIntent.js")
    @Scripts.Render("~/Content/Theme/js/superfish.js")
    @Scripts.Render("~/Content/Theme/js/jquery.sticky.js")
    <!--Totop-->
    @Scripts.Render("~/Content/Theme/js/jquery.ui.totop.js")
    <!--Slide-->
    @Scripts.Render("~/Content/Theme/js/camera.js")
    @Scripts.Render("~/Content/Theme/js/jquery.easing.1.3.min.js")
    <!-- Maps -->
    @Scripts.Render("~/Content/Theme/js/gmap3.js")
    <!--Ligbox-->
    @Scripts.Render("~/Content/Theme/js/jquery.fancybox.js")
    <!-- carousel.js-->
    @Scripts.Render("~/Content/Theme/js/carousel.js")
    <!-- Filter -->
    @Scripts.Render("~/Content/Theme/js/jquery.isotope.js")
    <!-- Twitter Feed-->
    @Scripts.Render("~/Content/Theme/js/jquery.tweet.js")
    <!-- flickr Feed-->
    @Scripts.Render("~/Content/Theme/js/jflickrfeed.min.js")
    <!-- Counter -->
    @Scripts.Render("~/Content/Theme/js/jquery.countdown.js")
    <!--Theme Options-->
    @Scripts.Render("~/Content/Theme/js/theme-options.js")
    @Scripts.Render("~/Content/Theme/js/jquery.cookies.js")
    <!-- Bootstrap.js-->
    @Scripts.Render("~/Content/Theme/js/bootstrap.js")
    <!--MAIN FUNCTIONS-->
    @Scripts.Render("~/Content/Theme/js/main.js")
    <!-- ======================= End JQuery libs =========================== -->

        @RenderSection("scripts", required: false)
</body>
</html>
