@model FootballManager.Models.TeamPoints

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamPoints</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Championship.Name)*@
            Championship
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Championship.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
