@{
    ViewBag.Title = "Home Page";
}
        <!-- Slide -->
<section class="camera_wrap camera_white_skin" id="slide">
    <!-- Item Slide - Caption -->
    <div data-src="@Url.Content("~/Content/Theme/img/slide/slides/1.jpg")">
        <div class="style-caption fadeFromTop">

        </div>
    </div>
    <!-- End Item Slide - Caption  -->
    <!-- Item Slide - Caption -->
    <div data-src="@Url.Content("~/Content/Theme/img/slide/slides/2.jpg")">
        <div class="style-caption fadeFromTop">
            <div class="container">
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->
    <!-- Item Slide - Caption -->
    <div data-src="@Url.Content("~/Content/Theme/img/slide/slides/3.jpg")">
        <div class="style-caption fadeFromTop">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->
    <!-- Item Slide - Caption -->
    <div data-src="@Url.Content("~/Content/Theme/img/slide/slides/4.jpg")">
        <div class="style-caption fadeFromTop">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->
    <!-- Item Slide - Caption -->
    <div data-src="@Url.Content("~/Content/Theme/img/slide/slides/5.jpg")">
        <div class="style-caption fadeFromTop">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <!-- End Item Slide - Caption  -->

</section>
<!-- End Slide -->
<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="semiboxshadow text-center">
        <img src="@Url.Content("~/Content/Theme/img/img-theme/shp.png")" class="img-responsive" alt="">
    </div>

    <!-- Dark Home -->
    <div class="bg-dark dark-home">
        <div class="row">
            <!-- Left Content - Tabs and Carousel -->
            <div class="col-md-9">
                <!-- Nav Tabs -->
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#club-news" data-toggle="tab">MATCHES</a></li>
                </ul>
                <!-- End Nav Tabs -->
                <!-- Content Tabs -->
                <div class="tab-content">

                    <!-- Tab - Matches -->
                    <div class="tab-pane active" id="club-news">
                        <h3>Euro 2016</h3>
                        <!-- Clubs Carousel-->
                        <ul id="clubs-carousel" class="clubs-teams">
                            <!-- Item carousel club -->
                            <li class="row">
                                <!-- Item clubs -->
                                <div class="col-sx-12 col-sm-6 col-md-6">
                                    <div class="item-clubs">
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/9.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="info-clubs">
                                            <h4><a href="#">Grupo B</a></h4>
                                            <p>Belgica</p>
                                            <p>Vs.</p>
                                            <p>Gales</p>
                                        </div>
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/10.png")" alt="" class="img-responsive">
                                        </div>

                                    </div>
                                </div>
                                <!-- End Item clubs -->
                                <!-- Item clubs -->
                                <div class="col-sx-12 col-sm-6 col-md-6">
                                    <div class="item-clubs">
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/11.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="info-clubs">
                                            <h4><a href="#">Grupo C</a></h4>
                                            <p>Espanha</p>
                                            <p>Vs.</p>
                                            <p>Bielorrússia</p>
                                        </div>
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/12.png")" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item clubs -->
                                <!-- Item clubs -->
                                <div class="col-sx-12 col-sm-6 col-md-6">
                                    <div class="item-clubs">
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/13.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="info-clubs">
                                            <h4><a href="#">Grupo D</a></h4>
                                            <p>Alemanha</p>
                                            <p>Vs.</p>
                                            <p>Gibraltar</p>
                                        </div>
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/14.png")" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item clubs -->
                                <!-- Item clubs -->
                                <div class="col-sx-12 col-sm-6 col-md-6">
                                    <div class="item-clubs">
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/3.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="info-clubs">
                                            <h4><a href="#">Grupo E</a></h4>
                                            <p>Inglaterra</p>
                                            <p>Vs.</p>
                                            <p>Eslovénia</p>
                                        </div>
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/8.png")" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item clubs -->
                            </li>
                            <!-- End Item carousel club -->
                            <!-- Item carousel club -->
                            <li class="row">
                                <!-- Item clubs -->
                                <div class="col-sx-12 col-sm-6 col-md-6">
                                    <div class="item-clubs">
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/15.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="info-clubs">
                                            <h4><a href="#">Grupo F</a></h4>
                                            <p>Hungria</p>
                                            <p>Vs.</p>
                                            <p>Finlândia</p>
                                        </div>
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/16.png")" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item clubs -->
                                <!-- Item clubs -->
                                <div class="col-sx-12 col-sm-6 col-md-6">
                                    <div class="item-clubs">
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/6.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="info-clubs">
                                            <h4><a href="#">Grupo G</a></h4>
                                            <p>Áustria</p>
                                            <p>Vs.</p>
                                            <p>Rússia</p>
                                        </div>
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/5.png")" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item clubs -->
                                <!-- Item clubs -->
                                <div class="col-sx-12 col-sm-6 col-md-6">
                                    <div class="item-clubs">
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/1.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="info-clubs">
                                            <h4><a href="#">Grupo H</a></h4>
                                            <p>Itália</p>
                                            <p>Vs.</p>
                                            <p>Croácia</p>
                                        </div>
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/2.png")" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item clubs -->
                                <!-- Item clubs -->
                                <div class="col-sx-12 col-sm-6 col-md-6">
                                    <div class="item-clubs">
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/4.png")" alt="" class="img-responsive">
                                        </div>
                                        <div class="info-clubs">
                                            <h4><a href="#">Grupo I</a></h4>
                                            <p>Portugal</p>
                                            <p>Vs.</p>
                                            <p>Arménia</p>
                                        </div>
                                        <div class="img-clubs">
                                            <img src="@Url.Content("~/Content/Theme/img/clubs-team/7.png")" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Item clubs -->
                            </li>
                            <!-- End Item carousel club -->
                        </ul>
                        <!-- End Clubs Carousel-->
                    </div>
                    <!-- Tab Theree - Club Teams -->
                </div>
                <!-- Content Tabs -->
            </div>
            <!-- Left Content - Tabs and Carousel -->
            <!-- Right Content - Content Counter -->
            <div class="col-md-3">
                <aside>
                    <div class="title-color text-center">
                        <h4>Next game</h4>
                    </div>

                    <div class="content-counter content-counter-home">
                        <p class="text-center">
                            <i class="fa fa-clock-o"></i>
                            Countdown Till Start Next Game
                        </p>
                        <div id="event-one" class="counter"></div>
                        <ul class="post-options">
                            <li><i class="fa fa-calendar"></i>June 12, 2014</li>
                            <li><i class="fa fa-clock-o"></i>Kick-of, 12:00 PM</li>
                        </ul>
                        <p>Ei eum affert postulant, ius te mazim zril alterum. Illum dolorem ius ut, eu postulant principes sit.  ert postulant, ius te mazim zril alterum Tibique scriptorem cu pri, te fugit voluptatum mel, nibh exerci denique at qui.</p>
                        <a class="btn btn-primary" href="#">
                        </a>
                    </div>
                </aside>
                <!-- Content Counter -->
            </div>
            <!-- End Right Content - Content Counter -->
        </div>
    </div>
    <!-- Dark Home -->
    <!-- Newsletter -->

</section>
<!-- End Section Area -  Content Central -->