@model FootballManager.Models.Journey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Journey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Championship.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Championship.Name)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <td>
                Matches
            </td>
            <td align="right">
                @Html.ActionLink("Add Match", "Create", "Matches", new { id = Model.ID }, null)
            </td>
        </tr>
        @foreach (var item in Model.Championship.TeamPoints) {
            foreach (var match in item.Team.Match) { 
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => match.Team.Name)
                            vs
                        @Html.DisplayFor(modelItem => match.Team1.Name)
                        @*@Html.DisplayFor(modelItem => item.DateEnd.Year)*@
                    </td>
                    <td align="right">
                        @*@Html.ActionLink("Details", "Details", "Journeys", new { id = item.ID }, null)*@
                        @*@Html.ActionLink("Delete", "Delete", "Reviews", new { id = item.ID }, null)*@
                    </td>
                </tr>
            }
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
