@model FootballManager.Models.Championship
@using FootballManager

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Championship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @if (ViewBag.Logo != null) {
                <img src="@ViewBag.Logo" class="img-circle" alt="@Model.Name" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoudationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoudationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityManager.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityManager.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
    </dl>

    <table class="table">
        <tr>
            <td>
                Journey Year
            </td>
            <td align="right">
                @Html.ActionLink("Add Journey", "Create", "Journeys", new { id = Model.ID }, null)
            </td>
        </tr>
        @foreach (var item in Model.Journey)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBegin.Year)/
                    @Html.DisplayFor(modelItem => item.DateEnd.Year)
                </td>
                <td align="right">
                    @Html.ActionLink("Details","Details", "Journeys", new { id = item.ID }, null)
                    @*@Html.ActionLink("Delete", "Delete", "Reviews", new { id = item.ID }, null)*@
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
