@model IEnumerable<FootballManager.Models.Championship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@if (User.Identity.IsAuthenticated) {
    if (User.IsInRole("Admin")) {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FoudationDate)*@
            Fundation Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EntityManager.Name)*@
            Entity Manager
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Country.Name)*@
            Country
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoudationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityManager.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @if (User.Identity.IsAuthenticated) {
                if (User.IsInRole("Admin")) {
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                }
            }
        </td>
    </tr>
}

</table>
