@model FootballManager.Models.Match

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JourneyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JourneyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.KickoffTime)*@
            KickOff Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KickoffTime)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Team.Name)*@
            Home Team
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Team1.Name)*@
            Away Team
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1.Name)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <td>
                Equipa
            </td>
            <td align="right">
                Hora
            </td>
        </tr>
        @foreach (var item in Model.MatchGoals) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
