@model FootballManager.Models.Season

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Season</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.NumberOfTeams)*@
            Number of Teams
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTeams)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Championship.Name)*@
            Championship
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Championship.Name)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <td>
                <h4>Journeys</h4>
            </td>
            <td align="right">
                @Html.ActionLink("Add Journey", "Create", "Journeys/Create")
            </td>
        </tr>
        @foreach (var item in Model.Championship.Journey)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBegin) /
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td align="right">
                    @Html.ActionLink("Details", "Details", "Journeys", new { id = item.ID }, null)
                    @*@Html.ActionLink("Delete", "Delete", "Reviews", new { id = item.ID }, null)*@
                </td>
            </tr>
        }
    </table>

    <table class="table">
        <tr>
            <td>
                <h4>Teams</h4>
            </td>
            <td align="right">
                @Html.ActionLink("Add Season", "Create", "Season/Create")
            </td>
        </tr>
        @foreach (var item in Model.Championship.TeamPoints) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td align="right">
                    @Html.ActionLink("Details", "Details", "Teams", new { id = item.Team.ID }, null)
                    @*@Html.ActionLink("Delete", "Delete", "Reviews", new { id = item.ID }, null)*@
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>